<a href="/logout"><button type="button" class="btn btn-primary">LOGOUT</button></a>


<a href="/create"><button type="button" style="float: right;" class="btn btn-primary">Go to sign up</button></a>

<div>
    <p>Click on the "Choose File" button to upload Your Resume:</p>

    <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="file">
        <input type="submit">
    </form>
    <div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>

        <table class="table table-striped table-dark ">

            <thead>
                <tr>
                    <th>SERIAL NO</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>USERNAME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.sno}}</td>
                    <td>{{post.name}}</td>
                    <td>{{post.email}}</td>
                    <td>{{post.username}}</td>
                    <td>
                        <button class="btn btn-primary">EDIT</button>
                        <a href="/delete/{{post.sno}}"><button class="delete btn btn-sm btn-danger">DELETE</button></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>