<!DOCTYPE html>
<html lang="en">

<head>
    <title>DashBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:rgb(133, 133, 172);">
    <a href="/logout"><button type="button" class="btn btn-primary">LOGOUT</button></a>


    <a href="/create"><button type="button" style="float: right;" class="btn btn-primary">Go to sign up</button></a>

    <div>
        <p>Click on the "Choose File" button to upload Your Resume:</p>

        <form action="/uploader" method="POST" enctype="multipart/form-data">
            <input class="btn btn-primary" type="file" id="myFile" name="file">
            <input class="btn btn-danger" type="submit">
        </form>
        <div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="container">

            <table class="table table-striped table-dark ">

                <thead>
                    <tr>
                        <th>SERIAL NO</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>USERNAME</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{post.sno}}</td>
                        <td>{{post.name}}</td>
                        <td>{{post.email}}</td>
                        <td>{{post.username}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#myModal">EDIT</button>
                            <a href="/delete/{{post.sno}}"><button class="btn btn-info btn-danger"
                                    onclick="return confirm('Are you sure to delete?')">DELETE</button></a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="background-color:powderblue;" class=" modal-title">Update your Existing
                                Information
                            </h4>
                            <div class="modal-body" style="background-color: blanchedalmond;">
                                <div class="modal-body">

                                    <label for="name"><b>Name</b></label>
                                    <input type="text" placeholder="Enter name" name="name" id="name" value="" required>

                                </div>

                                <div class="modal-body">

                                    <label for="username"><b>Username</b></label>
                                    <input type="text" placeholder="Enter username" name="username" id="username"
                                        required value="">

                                </div>

                                <div class="modal-body">

                                    <label for="email"><b>Email</b></label>
                                    <input type="text" placeholder="Enter Email" name="email" id="email" required
                                        value="">

                                </div>

                                <div class="modal-body">

                                    <label for="password"><b>Password</b></label>
                                    <input type="password" placeholder="Enter password" name="password" id="password"
                                        required value="">

                                </div>

                                <div class="modal-body">

                                    <label for="Phone"><b>Phone</b></label>
                                    <input type="number" placeholder="Enter Phone" name="phone" id="email" required
                                        value="">

                                </div>

                                <div class="modal-body">
                                    <button class="btn btn-primary" type="button">Submit</button>
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</body>